streamlit
pandas
numpy
datetime
altair
pytz
streamlit-folium
folium
plotly
matplotlib
holidays
joblib                                                           
tqdm         
scikit-learn    
statsmodels   
xgboost
itertools
pickle
pmdarima

selenium
streamlit_folium
webdriver_manager
